<div>
  <mat-toolbar color="primary">
    <span><mat-icon>home</mat-icon></span>

    <span>Angular Material Starter</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
    <mat-card-title>Example Card</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="open()">Open Dialog</button>
    </mat-card-actions>
  </mat-card>

</div>